body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.section-title {
    color: darkblue;
    text-align: center;
}

.box {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}